<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_ad.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_ad.email %>
</p>

<%= link_to 'Edit', edit_user_ad_path(@user_ad) %> |
<%= link_to 'Back', user_ads_path %>
