
       <!-- Search bar -->
       <%= form_tag cinemalists_path, class: "form-inline", method: :get do %>
       <div class="search-wrapper">
           <div class="container container--add">
               <form id='search-form' method='get' class="search">
                   <input type="text" class="search__field" placeholder="By Name" name="q">
                   <button type='submit' class="btn btn-md btn--danger search__button">search a cinema</button>
                   <% end %>
               </form>
           </div>
       </div>
     <!-- Main content -->
       <section class="container">
           <div class="col-sm-6 col--modificator">
               <h2 class="page-heading">cinemas</h2>
               <button type='submit' class="btn btn-md btn--info"><%= link_to "New Cinema", new_cinemalist_path%></button>
               <button class="btn btn-md btn--default" id="hide">Hide table</button>
               <button class="btn btn-md btn--warning" id="show">Show table</button>
       <div class="clearfix"></div>
<a ng-mouseover="openDropdownMenu('adminDropdown')"
   ng-mouseleave="closeDropdownMenu('adminDropdown')">

<div class="row">
<table class="table">
  <tr>
      <th>#</th>
      <th>Name</th>
      <th>Star</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Officall website</th>

  </tr>

  <% @cinemalists.each do |cinemalist| %>
  <tr onmouseover="onMouseOver(this)" >
      <td><%= cinemalist.id %></td>
      <td><%= cinemalist.name %></td>
      <td><%= cinemalist.image %></td>
      <td><%= cinemalist.address %></td>
      <td><%= cinemalist.phone %></td>
      <td><%= cinemalist.web %></td>
      <td>
        <th><%= link_to "Show", cinemalist_path(cinemalist.id) %></th>
        <th><%= link_to "Edit", edit_cinemalist_path(cinemalist.id) %></th>
      </td>
  </tr>
  <% end %>

</table>
</div>
</a>
       <% @cinemalists.each do |cinemalist| %>
       <tr>
        <div class="cinema-wrap">
                         <div class="row">
                             <div class="col-xs-6 col-sm-20 cinema-item">
                                 <div class="cinema">
                                     <a href='single-cinema.html' class="cinema__images">
                                           <%= image_tag cinemalist.images_url %>
                                         <span class="cinema-rating"><%= cinemalist.image %></span>
                                     </a>
                                     <a href="single-cinema.html" class="cinema-title"><%= cinemalist.name %><%= link_to "Show", cinemalist_path(cinemalist.id) %></a>
                                     <a href="single-cinema.html" class="cinema-md cinema--slow"><%= link_to "Edit", edit_cinemalist_path(cinemalist.id) %>
                                     <a href="single-cinema.html" class="cinema-md "><%= link_to "Destroy", cinemalist_path(cinemalist.id),
                                    data: { confirm: 'Are you sure?' }, :method => :delete,:remote => true, :class => 'delete_cinemalist' %></a>

                                 </div>
                             </div>
                           </div>
                         </div>
                           </tr>
   <% end %>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
$("#hide").click(function(){
    $("table").hide();
});
$("#show").click(function(){
    $("table").show();
});
});
</script>
