

      <section class="cinema-container">
                <div class="cinema cinema--full">
                    <p class="cinema__title">><%= @cinemalist.name %></p>
                    <div class="cinema__rating"><%= @cinemalist.image %></div>
                    <div class="cinema__gallery">
                        <div class="swiper-container">
                          <div class="swiper-wrapper">
                              <!--First Slide-->
                              <a href='single-cinema.html' class="cinema__images">
                                  <% unless @cinemalist.images_url.nil? %><%= image_tag @cinemalist.images_url %><% end %>
                              </a>
                          </div>
                        </div>
                    </div>
                    <div class="cinema__info">
                        <p class="cinema__info-item"><strong>Address:</strong> <%= @cinemalist.address %></p>
                        <p class="cinema__info-item"><strong>Phone:</strong> <%= @cinemalist.phone %></p>
                        <p class="cinema__info-item"><strong>Official website:</strong> <a href="#"><%= @cinemalist.web %></a></p>
                        <section class="container">
                            <div class="col-sm-6 col--modificator">
                               <button type='submit' class="btn btn-md btn--ready"><%= link_to "Back Cinema List", cinemalists_path%></button>
                                <button type='submit' class="btn btn-md btn--slow"><%= link_to "Edit Cinema List", edit_cinemalist_path%></button>
                                <button type='submit' class="btn btn-md btn--default">

                <td><%= link_to "Destroy", cinemalist_path,
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
                </button>
                    </div>
                    </div>


                <div class="share share--centered">
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                        <a class="addthis_button_tweet"></a>
                        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                    </div>
                </div>
