<p id="notice"><%= notice %></p>

<h1>User Laps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_laps.each do |user_lap| %>
      <tr>
        <td><%= user_lap.name %></td>
        <td><%= user_lap.email %></td>
        <td><%= link_to 'Show', user_lap %></td>
        <td><%= link_to 'Edit', edit_user_lap_path(user_lap) %></td>
        <td><%= link_to 'Destroy', user_lap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Lap', new_user_lap_path %>
