<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_lap.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_lap.email %>
</p>

<%= link_to 'Edit', edit_user_lap_path(@user_lap) %> |
<%= link_to 'Back', user_laps_path %>
