<div class="wrapper">
     <div class="col-sm-12">
          <div class="movie">
               <h2 class="page-heading"><%=@offer.name%></h2>
          </div>
      </div>
</div>



<div class="col-sm-4 col-md-3 movie-mobile">
  <% unless @offer.image_url.nil? %><%= image_tag @offer.image_url %><%end%>
</div>

<div class="col-sm-8 col-md-6">
        <p class="movie__time"><strong>Prix:</strong> <%= @offer.prix %> <br/></p>
        <p class="movie__option"><strong>Time: </strong><%= @offer.time %> <br/></p>
        <p class="movie__option"><strong>Detail: </strong><%= @offer.detail %> <br/></p>

        <div class="movie__btns">
              <button class="btn btn-md btn--warning"><%= link_to "MENU", offers_path %></button>
              <button class="btn btn-md btn--warning"><%= link_to "Edit", edit_offer_path %></button>
        </div>
</div>
